# Virtual environments local setups
venv/
.venv/
ENV/

# System Environment configuration parameters
.env
.env.production

# Cache and testing temporary analytics metrics files
.pytest_cache/
__pycache__/
*.pyc

# Local runtime testing databases snapshots instances
*.db
*.sqlite

# Ingested production binary asset uploads attachments
app/storage/uploads/
*.pdf
*.docx


*.image-1.png
*.image-2.png
*.image-3.png
*.image.png